body {
  background-color: #110f10;
}

.chart-and-authors {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  width: max-content;
  margin: 0 auto;
  padding-top: 80px;
}

.chart-box {
  padding: 26px;
  width: 100%;
  background: rgba(28, 17, 71, 0.6);
  border-radius: 36px;
}

.chart-authors-h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 44px;
  color: #ededed;
}

.chart-period-text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ededed;
  flex: none;
}

.chart-track-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 24px;
  margin-top: 70px;
  min-height: 900px;
}

.authors-line {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px;
  gap: 36px;
  height: 100%;
  width: 450px;
  justify-content: space-evenly
}

.authors-icon-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ededed;
  align-items: center;
}

.authors-icon {
  width: 170px;
  height: 170px;
  filter: drop-shadow(2px 3px 3px #6247d1);
  border-radius: 20px;
}

.authors-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  white-space: nowrap;
}

.authors-h2-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 36px;
}

.authers-box {
  padding: 26px;
  gap: 36px;
  background: rgba(28, 17, 71, 0.6);
  border-radius: 36px;
  width: 100%;
}

.authors-h2 {
  font-size: 32px;
  color: #ededed;
  text-align: left;
}

.chart-h2 {
  font-size: 32px;
  color: #ededed;
  text-align: left;
}

.authers-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-top: 70px;
}

.track-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 17px;
  width: auto;
  height: auto;
}

.track-item-photo {
  width: 60px;
  height: 60px;
  background-color: #755384;
  margin-right: 17px;
  filter: drop-shadow(0px 1px 0px #6247d1);
  border-radius: 10px;
}

.track-item-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.track-item-title {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  color: #ededed;
  white-space: nowrap;
}

.track-item-autor {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #ededed;
  margin-top: 7px;
  white-space: nowrap;
}

.chart-category-box {
  padding: 0px 16px 6px;
  isolation: isolate;
  background: #1c1147;
  background-size: auto;
  border-radius: 64px;
  margin-left: 10px;
}

.chart-category-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ededed;
  flex: none;
  white-space: nowrap;
}

.HeaderPage {
  height: max-content;
  width: 100%;
  top: 0;
  width: max-content;
}
