@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
.logIn {
  padding: 100px 0px 100px 0px;
  min-height: 100vh;
  background-image: url("../images/bg_auth.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logIn__title {
  font-size: 48px;
  color: #ededed;
}
.logIn__desc {
  font-size: 24px;
  color: #ededed;
  margin-top: 10px;
}

.login {
  width: 432px;
  height: 455px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgba(20, 20, 35, 0.6);
  backdrop-filter: blur(25px);
  border-radius: 36px;
  padding: 36px;
}

.form__title {
  font-size: 32px;
  color: #ededed;
  margin-bottom: 24px;
}

form input {
  margin-bottom: 25px;
  padding-left: 35px;
  border: none;
  height: 52px;
  background: #1c1147;
  color: #ededed;
  border-radius: 135px;
}

form input:hover {
  border: none;
}


.forget {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.resetPass {
  text-decoration: none;
  color: #ededed;
}

.rem_and_forget {
  color: #ededed;
  margin-left: 12px;
}

#remember {
  margin: 0;
}
.btn__logIn {
  height: 57px;
  background: #6247d1;
  border-radius: 135px;
  color: #ededed;
  font-size: 24px;
  padding: 0px;
}

.GoReg a {
  color: #ededed;
  text-decoration: none;
  font-size: 16px;
}

.show-icon_log {
  position: absolute;
  top: 191px;
  left: 335px;
  z-index: 11;
  cursor: pointer;
}

.hide-icon_log {
  position: absolute;
  left: 335px;
  top: 191px;
  z-index: 11;
  cursor: pointer;
}