
@media screen and (max-width: 1080px){
  .chart-and-authors{
  gap: 25px;}

  .authors-line{
  display: block;}

  .authors-icon-text{
  margin-top: 20px;}

  .authers-box{
  width: max-content;}

  .authors-icon{
    height: 150px;
    width: 150px;}

  .authers-list{
    width: 100%;
    gap: 0px;}

  .chart-box{
  width: max-content;
  padding: 30px;}
}


@media (max-width: 1024px) {
  .registration {
    padding: 100px 55px 100px 35px;
  }

  .logIn {
    padding: 100px 55px 100px 35px;
  }

  .registration__title {
     font-size: 36px;
  }

  .logIn__title {
    font-size: 36px;
  }

  .registration__desc {
    font-size: 20px;
  }

  .logIn__desc {
    font-size: 20px;
  }

  .reg-form {
    width: 365px;
    min-height: 565px;
  }

  .login {
    width: 365px;
    height: 400px;
  }


  .show-icon {
    position: absolute;
    top: 232px;
    left: 275px;
  }

  .hide-icon {
    position: absolute;
    top: 232px;
    left: 275px;
  }

  .show-icon_rep {
    position: absolute;
    top: 295px;
    left: 277px;
  }

  .hide-icon_rep {
    position: absolute;
    left: 277px;
    top: 295px;
  }

  .show-icon_log {
    position: absolute;
    top: 163px;
    left: 248px;
    z-index: 11;
    cursor: pointer;
  }

  .hide-icon_log {
    position: absolute;
    left: 248px;
    top: 163px;
    z-index: 11;
    cursor: pointer;
  }

}

@media (max-width: 768px) {
  .registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0px 100px 0px;
  }

  .logIn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0px 100px 0px;
  }

  .registration__text {
    margin-bottom: 35px;
  }

  .logIn__text {
    margin-bottom: 35px;
  }

  .forgot {
    width: 365px;
    height: 265px;
  }

  .reset__title {
    font-size: 36px;
  }
}

@media (max-width: 575px) {
  .registration__title {
    font-size: 24px;
 }

 .logIn__title {
  font-size: 24px;
 }

 .registration__desc {
   font-size: 16px;
 }

 .logIn__desc {
  font-size: 16px;
 }

 .reset__title {
  font-size: 24px;
}

.btn__reset {
  font-size: 16px;
  padding-left: 0px;
}
}


@media screen and (max-width: 480px){

  .chart-and-authors{
  display: block;
  justify-content: center;
  width: 100%;}

  .chart-box{
  width: 100%;
  justify-content: center;
  padding: 10px;}

  .chart-period-line{
  display: block;
  margin-top: 20px;}

  .chart-track-list{
  margin-top: 135px;}

  .chart-period-box-text{
  display: flex;
  flex-direction: row;
  gap: 10px;}

  .chart-period-box{
  width: 115px;
  margin-top: 10%;}

  .chart-period-text{
  font-size: 18px;
  line-height: 26px;}

  .authers-box{
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: flex-start;}


  .authors-line{
  display: flex;
  align-items: flex-start;}

  .authors-icon{
  height: 160px;
  width: 160px;}


  .authers-list{
  gap: 10px;
  align-items: center;}

  .authors-period-line{
  display: block;}

  .track-item {
  gap: 0px;}

  .track-item-photo {
  width: 50px;
  height: 50px;}

  .track-item-block {
  display: flex;
  flex-direction: column;}

  .track-item-title {
  font-size: 18px;}

  .chart-category-box{
  padding: 0px 12px 4px;}

  .chart-category-text{
  font-size: 18px;
  line-height: 20px;}

}


@media (max-width: 376px) {
  .reg-form {
    width: 100%;
  }

  .login {
    width: 100%;
  }

  .policy__text {
    font-size: 12px;
  }

  .rem_and_forget {
    font-size: 12px;
  }

  .btn__reg {
    font-size: 18px;
  }

  .show-icon {
    position: absolute;
    top: 232px;
    left: 250px;
  }

  .hide-icon {
    position: absolute;
    top: 232px;
    left: 250px;
  }

  .show-icon_rep {
    position: absolute;
    top: 295px;
    left: 250px;
  }

  .hide-icon_rep {
    position: absolute;
    left: 250px;
    top: 295px;
  }

  .forgot {
    width: 100%;
  }
}
