.reset {
  padding: 100px 0px 100px 0px;
  min-height: 100vh;
  background-image: url("../images/bg_auth.jpg");
}

.reset__title {
  font-size: 48px;
  color: #ededed;
}

.forgot {
  margin: 65px auto;
  width: 432px;
  height: 305px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgba(20, 20, 35, 0.6);
  backdrop-filter: blur(25px);
  border-radius: 36px;
  padding: 36px;
}

.forgot input {
  margin-bottom: 25px;

  border: none;
  height: 52px;
  background: #1c1147;
  color: #ededed;
  border-radius: 135px;
}

.btn__reset {
  cursor: pointer;
  height: 57px;
  background: #6247d1;
  border-radius: 135px;
  color: #ededed;
  font-size: 24px;
  padding-left: 0px;
}

.GoLog a {
  color: #ededed;
  text-decoration: none;
  font-size: 16px;
}